.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 8em; /* 100px */
  width: 8em;
}

html[data-theme='dark'] .featureSvg {
  filter: invert(100%);
}

.product_view {
  margin-top: 1em;
}

.parent {
  display: flex;
  font-family: arial, sans-serif;
}

.item {
  width: 50%;
  padding: 2em;
}

.last {
  width: 50%;
}

.margin3 {
  margin-bottom: 3em;
}

@media screen and (max-width: 600px){

  .parent {
    flex-direction: column-reverse;
  }

  .item {
    width: auto;
  }

  .last {
    width: auto;
  }

}
