section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.sectiontitle {
  text-align: center;
}

.container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.featureSvg {
  height: 8em;
  width: 8em;
}

html[data-theme='dark'] .featureSvg {
  filter: invert(100%);
}

/* Partner */

.partnerGrid {
  padding-top: 2em !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.partnerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.partnerItem img {
  max-height: 10em;
  width: auto;
  padding: 1em;
}

html[data-theme='dark'] .partnerItem img {
  background-color: white;
  border-radius: 15px;
}

/* Partner End */

.productView {
margin-top: 6em;
}

.parent {
  display: flex;
  margin-bottom: 3em;
}

.item {
  width: 50%;
}

.productText {
  padding-right: 5em;
}

@media screen and (max-width: 1250px){
  .parent {
    flex-direction: column-reverse;
  }
  .item {
    width: auto;
  }
  .last {
    width: auto;
  }
  .productText {
    padding-right: 0em;
    margin-top: 2em;
  }
}

/* Blog posts */

.blogPosts {
  margin-top: 6em;
}

.blogCard {
  /*min-height: 50rem;*/
  background-color: var(--ifm-background-color) !important;
  color: var(--ifm-font-color-base-inverse) !important;
}

[data-theme='dark'] .blogCard {
  border: 1px solid white;
}

.cardHeader {
  color: var(--ifm-link-color);
}

.cardSubheader {
  color: var(--ifm-font-color-base-inverse) !important;
}
