/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /*min-height: 50vh;*/
}

.buttons {
  margin-left: 20%;
}

.heroLogo {
  order: 2;
  height: 10em;
  padding-right: 10em;
}

/* mobile view */
@media screen and (max-width: 1250px) {
  .heroBanner {
    padding: 2rem;
  }

  .buttons {
    margin-left: 10%;
  }

  .heroLogo {
    display: none;
  }

  .wrapper {
    flex-direction: column !important;
    align-items: center;
  }
  .wrapper img {
    margin-bottom: 5% !important;
    background-color: white !important;
  }
}

.partnertitle {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

html[data-theme='dark'] .wrapper img {
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.wrapper img {
  margin: auto;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
  padding: 0.5%;
  width: 15rem;
  height: 10rem;
}